    <!DOCTYPE html>
    <html lang="es">
    <head>
        <!-- Vista de Inicio - Cristhofer Solarte -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Måneskin</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />  
    </head>
    
    <body>
        <header>
            <h1>Måneskin</h1>
          <div id="nav">
            <nav>
                <ul>
                  <li><a href="http://localhost:3000/">Inicio</a></li>
                  <li><a href="http://localhost:3000/integrantes/">Integrantes</a></li>
                  <li><a href="http://localhost:3000/historia/">Historia</a></li>
                  <li><a href="http://localhost:3000/discografia/">Discografía</a></li>
                  <li><a href="http://localhost:3000/formulario/">Suscribete</a></li>
                </ul>
            </nav>
          </div>
        </header>
    
        <section class="contenedor">
            <section class="inicio">
                <article>
                    <p>Måneskin es una banda de rock italiana que ganó fama internacional tras su victoria en el Festival de la Canción de Eurovisión 2021. Volviéndose virales en múltiples redes sociales y ganando reconocimiento en los últimos años.</p>
                    <figure>
                        <img src="https://i.cbc.ca/1.6037853.1621724645!/fileImage/httpImage/image.JPG_gen/derivatives/16x9_780/music-eurovision-final.JPG" alt="Måneskin en concierto" id="maneskinfoto">
                        <figcaption><strong>Figura 1: Måneskin en uno de sus electrizantes conciertos.</strong></figcaption>
                    </figure>
                </article>
            </section>
    
        <aside>
            <h3>Datos Interesantes</h3>
            <p>Måneskin significa "luz de luna" en danés, en honor a las raíces danesas de Victoria.</p>
                
            <div>
                <h3>Escuchar</h3>
                <p>Puedes escuchar su música en las siguientes plataformas:</p>
                <div style="text-align: center;" class="escuchar">
                    <a href="https://open.spotify.com/intl-es/artist/0lAWpj5szCSwM4rUMHYmrr" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/2048px-Spotify_logo_without_text.svg.png" alt="Spotify">
                    </a>
                    <a href="https://music.apple.com/us/artist/m%C3%A5neskin/1312874741" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Apple_Music_icon.svg/1200px-Apple_Music_icon.svg.png" alt="Apple Music">
                    </a>
                    <a href="https://www.youtube.com/channel/UCgQna2EqpzqzfBjlSmzT72w" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png" alt="YouTube">
                    </a>
                    <a href="https://maneskin.com/" target="_blank">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCalfAz21K4XmKuoN0O_3HUAuFlkapbQziNmeoyDcMKw&s" alt="Página Oficial">
                    </a>
                </div>
            </div>
        </aside> 
        </section>
    
        <footer>
            <p>Verónica Parra 30.600.365<br>Cristhofer Solarte 30.959.561<br>&copy; 2024 Frontend.</p>
        </footer>
    </body>
    </html>
