<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Vista de Integrantes - Cristhofer Solarte -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Måneskin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
  
<body>

    <header>
        <h1>Måneskin</h1>
      <div id="nav">
        <nav>
            <ul>
                <li><a href="http://localhost:3000/">Inicio</a></li>
                <li><a href="http://localhost:3000/integrantes/">Integrantes</a></li>
                <li><a href="http://localhost:3000/historia/">Historia</a></li>
                <li><a href="http://localhost:3000/discografia/">Discografía</a></li>
                <li><a href="http://localhost:3000/formulario/">Suscribete</a></li>
            </ul>
        </nav>
      </div>
    </header>

    <section class="contenedor">
    <section id="integrantes">
            <h2>Integrantes</h2>
        <article>
            <div class="integrante" id="damiano">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlNjNlfxOC7j-9w6cnRKxo_pdv7El2HEXcnZUJeB4GpV9ybezGR8Hyo6EmwU53rMdaLYQ&usqp=CAU" alt="Damiano David">
                <div class="info">
                    <h3>Damiano David</h3>
                    <p>Vocalista</p>
                    <div class="more-info">
                        <p>Nacido en Roma, Italia, el 8 de enero de 1999. Desde pequeño mostró interés por la música, cantando en coros y participando en concursos de talentos.</p>
                        <p>Antes de formar Måneskin, tuvo otras bandas y proyectos musicales.</p>
                        <p>Es conocido por su voz potente, su estilo extravagante y su carisma en el escenario. Además de la música, le apasiona la actuación y ha participado en algunos cortometrajes.</p>
                    </div>
                </div>
            </div>
            <div class="integrante" id="victoria">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/M%C3%A5neskin_-_2022154175140_2022-06-03_Rock_am_Ring_-_Sven_-_1D_X_MK_II_-_1465_-_B70I6019.jpg/1200px-M%C3%A5neskin_-_2022154175140_2022-06-03_Rock_am_Ring_-_Sven_-_1D_X_MK_II_-_1465_-_B70I6019.jpg" alt="Victoria De Angelis">
                <div class="info">
                    <h3>Victoria De Angelis</h3>
                    <p>Bajista</p>
                    <div class="more-info">
                        <p>Nacida en Roma, Italia, el 28 de abril de 2000.</p>
                        <p>De ascendencia danesa e italiana, creció en un ambiente musical.</p>
                        <p>Toca el bajo desde los 8 años y ha sido parte de varias bandas.</p>
                        <p>Es la única mujer del grupo y se ha convertido en un ícono para las jóvenes músicas.</p>
                        <p>Aparte de la música, le gusta la moda y el diseño.</p>
                    </div>
                </div>
            </div>
            <div class="integrante" id="thomas">
                <img src="https://images.equipboard.com/uploads/user/image/337095/big_thomas-raggi.jpg?v=1716222349" alt="Thomas Raggi">
                <div class="info">
                    <h3>Thomas Raggi</h3>
                    <p>Guitarrista</p>
                    <div class="more-info">
                        <p>Nacido en Roma, Italia, el 18 de enero de 2001.</p>
                        <p>Comenzó a tocar la guitarra a los 6 años y ha participado en diversas bandas y proyectos musicales.</p>
                        <p>Es conocido por sus riffs de guitarra innovadores y su estilo energético en el escenario.</p>
                        <p>Fuera de la música, disfruta del skate y el surf.</p>
                    </div>
                </div>
            </div>
            <div class="integrante" id="ethan">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQV6iLecSNEYxH3BhIQZ6pOZhkR8CwRP8dyPXWUxzi1Lw&s" alt="Ethan Torchio">
                <div class="info">
                    <h3>Ethan Torchio</h3>
                    <p>Baterista</p>
                    <div class="more-info">
                        <p>Nacido en Roma, Italia, el 8 de octubre de 2000.</p>
                        <p>Se unió a Måneskin en 2017 después de responder a un anuncio en Facebook.</p>
                        <p>Es un baterista talentoso con un estilo único y preciso.</p>
                        <p>Aparte de la música, le gusta el fútbol y los videojuegos.</p>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <aside>
        <h3>Datos Interesantes</h3>
        <p>Måneskin significa "luz de luna" en danés, en honor a las raíces danesas de Victoria.</p>

        <div>
            <h3>Escuchar</h3>
            <p>Puedes escuchar su música en las siguientes plataformas:</p>
            <div style="text-align: center;" class="escuchar">
                <a href="https://open.spotify.com/intl-es/artist/0lAWpj5szCSwM4rUMHYmrr" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/2048px-Spotify_logo_without_text.svg.png" alt="Spotify">
                </a>
                <a href="https://music.apple.com/us/artist/m%C3%A5neskin/1312874741" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Apple_Music_icon.svg/1200px-Apple_Music_icon.svg.png" alt="Apple Music">
                </a>
                <a href="https://www.youtube.com/channel/UCgQna2EqpzqzfBjlSmzT72w" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png" alt="YouTube">
                </a>
                <a href="https://maneskin.com/" target="_blank">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCalfAz21K4XmKuoN0O_3HUAuFlkapbQziNmeoyDcMKw&s" alt="Página Oficial">
                </a>
            </div>
        </div>   
    </aside>
    </section>

    <footer>
        <p>Verónica Parra 30.600.365<br>Cristhofer Solarte 30.959.561<br>&copy; 2024 Frontend.</p>
    </footer>

</body>
</html>