/* Estilo general para el cuerpo del documento - Cristhofer Solarte */
body {
  background: linear-gradient(rgba(5, 7, 12, 0.70), rgba(5, 7, 12, 0.70)), url(https://us.123rf.com/450wm/imogi/imogi2304/imogi230400562/203376373-rock-and-roll-seamless-pattern.jpg?ver=6);
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  color: #fff;
}

/* Estilo para header y footer */
header, footer {
  background-color: #333;
  padding-top: 10px;
  text-align: center;
}

footer {
  padding-bottom: 10px;
}

/* Estilo para el contenedor principal */
.contenedor {
  display: flex;
  flex: 4;
  margin: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo para la barra de navegación */
#nav {
  background-color: #440D0D;
  padding: 20px 0;
}

nav {
  font-size: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
  margin-right: 16px;
  transition: transform 0.3s ease;
}

nav ul li:hover {
  transform: scale(1.1);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Estilo para el encabezado h2 */
h2 {
  text-align: center;
  background: #333;
  padding: 10px;
  margin: 0px 10px 10px 10px;
}

/* Estilo para la sección de inicio */
.inicio {
  flex: 1;
  width: 60%;
  margin: 0px 10px 10px 10px;
}

.inicio p {
  background: #333;
  border-radius: 5px;
}

/* Estilo para artículos */
article {
  margin-bottom: 32px;
}

article p {
  padding: 10px;
  margin: 0px 10px 10px 10px;
}

/* Estilo para la barra lateral */
aside {
  background-color: #440D0D;
  padding: 10px;
  width: 15%;
  height: 500px;
  text-align: justify;
}

aside h3 {
  font-family: sans-serif;
  margin-bottom: 16px;
  text-align: center;
}

/* Estilo para formularios */
form {
  background-color: #440D0D;
  width: 25%;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  position: relative;
  left: 35%;
}

label {
  font-size: 12px;
  display: block;
  width: 100%;
}

input, textarea {
  margin-bottom: 20px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

textarea {
  resize: vertical;
  max-height: 300px;
  min-height: 100px;
}

input[type="submit"] {
  margin-bottom: 0px;
  background-color: #5c5c5c;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 80px;
  position: relative;
  left: 40%;
}

input[type="submit"]:hover {
  background: #858585;
  cursor: pointer;
}

/* Estilo para la barra de búsqueda */
.busqueda {
  background: #fff;
  width: 50%;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 30px;
  position: relative;
  overflow: hidden;
}

.busqueda input {
  flex: 1;
  width: 80%;
  padding: 15px 10px;
  border: 0;
  outline: 0;
  margin: 0;
  background: transparent;
  font-size: 20px;
}

.busqueda button img {
  width: 30px;
}

.busqueda button {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Estilo para artículos relacionados */
.related-articles {
  margin-top: 32px;
}

.related-articles h4 {
  font-family: sans-serif;
  margin-bottom: 16px;
}

.related-articles ul {
  list-style-type: none;
  padding: 0;
}

.related-articles ul li {
  margin-bottom: 16px;
}

.related-articles ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.related-articles ul li a:hover {
  color: #ccc;
}

/* Estilo para la sección de historia */
#historia p {
  color: white;
  font-size: 20px;
  text-align: left;
}

/* Estilo general para encabezados y párrafos */
h1, h2, h3 {
  font-family: sans-serif;
}

p, main h3 {
  text-indent: 15px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

/* Estilo para imágenes */
img {
  padding-top: 10px;
  margin: auto;
  width: 80%;
  height: auto;
  display: block;
  border-radius: 5px;
}

figcaption {
  width: 80%;
  padding-left: 60px;
}

/* Estilo para la sección de integrantes */
#integrantes article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.integrante {
  display: inline-block;
  position: relative;
  margin: 10px;
}

.integrante img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.integrante .info {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 200px;
  text-align: center;
}

.integrante:hover img {
  transform: scale(1.1);
  box-shadow: 0 4px 8px white;
}

.integrante:hover .info {
  opacity: 1;
  visibility: visible;
}

.integrante .info h3, .integrante .info p {
  color: #fff;
  margin: 5px 0;
}

.integrante .info .more-info {
  display: none;
}

.integrante:hover .info .more-info {
  display: block;
}

/* Estilo general para secciones específicas */
#integrantes, #historia, #discografia {
  width: 80%;
  margin: 0px 10px 10px 10px;
}

/* Estilo para imágenes de la sección "escuchar" */
.escuchar img {
  display: inline-block;
  width: 30px;
  height: auto;
  margin: 0 2px;
  transition: transform 0.3s ease;
}

.escuchar img:hover {
  transform: scale(1.1);
}